

// --------------------------
// VARIABLES
// --------------------------
$maincolor: black;
$contrastcolor: white;
$peach: #f8cea6;
$burlywood: #ecaf78;
$darkseagreen: #a2a787;
$darkslategreen: #375f57;
$teal: #04262a;

@mixin light-text-dark-bg {
  color: $peach;
  background-color: $darkslategreen;
}

@mixin dark-text-light-bg {
  color: $darkslategreen;
  background-color: $peach;
}


//Google fonts
@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English+SC&display=swap');

//Font Variables
$fell-english: 'IM Fell English SC', serif;

// --------------------------
// Header
// --------------------------

nav {
  @include light-text-dark-bg;
  display: flex;
  justify-content: flex-start;
  font-size: 72px;
 
  a {
    @include light-text-dark-bg;
    text-decoration: none;


div {
    margin: 10px;
    font-size: large;
    }
  }
}

header {
    font-family: $fell-english;

}

.subheader {
    font-style: italic;
    font-size: large;
    justify-content: left;
}

form {
  padding: 15px;
}

plan {
  display: flex;
  border: 1px solid gray;
  border-radius: 20%;
}

plan-container {
  display: flex;
  flex-wrap: wrap;

}