

// --------------------------
// VARIABLES
// --------------------------
$maincolor: black;
$contrastcolor: white;
$peach: #f8cea6;
$burlywood: #ecaf78;
$darkseagreen: #a2a787;
$darkslategreen: #375f57;
$teal: #04262a;

@mixin light-text-dark-bg {
  color: $peach;
  background-color: $darkslategreen;
}

@mixin dark-text-light-bg {
  color: $darkslategreen;
  background-color: $peach;
}


//Google fonts
@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English+SC&display=swap');

//Font Variables
$fell-english: 'IM Fell English SC', serif;

// --------------------------
// Header
// --------------------------

a {
  text-decoration: none;
}

a:visited {
  color: $peach;
}

nav {
  @include light-text-dark-bg;
  display: flex;
  justify-content: flex-start;
  font-size: 72px;
 
  a {
    @include light-text-dark-bg;
    text-decoration: none;


div {
    margin: 10px;
    font-size: large;
    }
  }
}

header {
    font-family: $fell-english;
    color:$burlywood;

}

.subheader {
    font-style: italic;
    font-size: large;
    justify-content: left;
}

form {
  padding: 15px;
}

.plan {
  display: flex;
  justify-content: space-between;
  // align-items: stretch;
  border: 2px solid $darkslategreen;
  color: white;
  background-color: $darkslategreen;
  padding: 5px;
  margin: 0;
}

plan-container {
  display: grid;
  flex-wrap: wrap;
  padding: 10px;
  margin: 0;

}

h4 {
  font-weight: normal;
}

#delete {
  background-color:indianred;
  border: indianred;
  padding: 7px;
  // border-radius: 50%; not working for some reason; come back or delete
}

#submit {
  background-color: $darkseagreen;
}

show-plan {

}

notebook {
  width: 100px;
  height: 100px;
}